body {
  font-family: helvetica, arial, sans-serif;
}

h1 {
  color: #3a241d;
  text-align: center;
}

#pagina {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#contenedor-izquierdo {
	background-color: white;
  
  /*border styles*/
  border-color: rgba(0, 0, 0, 0.6);
  border-style: solid;
  border-radius: 25px;

	width: 15%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
  margin: 5px;
}

#contenedor-derecho {
	background-color: white;

  /*border styles*/
  border-color: rgba(0, 0, 0, 0.6);
  border-style: solid;
  border-radius: 25px;

	width: 15%;
	height: 100%;
	right: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
  margin: 5px;
}

.contenedor-componente {
	position: relative;
	height: 10.5%;
	left: 20%;
}

.componente {
	position: absolute;
	max-width: 150%;
	max-height: 150%;
	z-index: 2;
}

.cielo {
	height: 80%;
	width: 60%;
	background: rgba(0, 170, 228, 0.3);
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.5;
	z-index: 1;
}

.suelo {
	width: 60%;
	height: 45%;
	background: rgba(0, 255, 0, 0.9);
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 0.7;
	z-index: -1;
}